body{
    background-image: url(trips_bg.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    flex-direction: column;
	border: 2px solid #AEAAAA;
	font-family: Arial;
}
.nav-bar{
	background:  #FF5050;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
}
.topnav li{
	list-style: none;
	display: inline-block;
}
.topnav li :hover{
	color: #FF5050;
	float: left;
	font-size: 27px;
	font-weight: 600;
	transition: .3s ease;
	background-color: white;
	padding: 8px 30px;
	border: 2px solid #fff;
	border-radius: 10px;
}
.topnav li a{
	text-decoration: none;
	float: left;
	color: white;
	font-size: 25px;
	font-weight: 600;
	margin-left: 30px;
}

.title{
	color: white;
}
.btn {
  background-color:  #FF5050 ;
  border-radius: 50%;
  border: 2px solid white;
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin: none;
}
#footer{
	background:  #AEAAAA;
	height: 50px;
	margin-top: 75px;
	padding-top:20px;
	color: white;
	text-align: center;
}
#footer i{
	font-style: italic;
	align-items: center;
}
#footer img{
	margin-left: 15px;
	margin-bottom: 15px;
	float: left;
	width: 60px;
	padding: 0px;
}
.promo{
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	height: 50vh;
    width: 250px;
    border: 2px solid  #AEAAAA;
    padding:0px 10px 10px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px gray;
    z-index: 2;
}
.promo-details label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}
.promo-details input{
	display: block;
	border: 2px solid  #FF5050;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
}
.promo-details{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
}
#Enter{
	margin-top: 10px;
	display: block;
	margin: auto;
	align-items: center;
	background: #FF5050;
	padding: 8px 40px;
	color: #fff;
	border-radius: 5px;
	border: none;
}
#Enter:hover{
	color: white;
	padding: 8px 30px;
	border: 2px solid #fff;
}
#Remove{
	margin-top: 10px;
	display: block;
	margin: auto;
	align-items: center;
	background: #fff;
	padding: 8px 30px;
	color: #FF5050;
	border-radius: 5px;
	border: 2px solid #FF5050;
}
#Remove:hover{
	color: crimson;
	padding: 8px 30px;
	border: 2px solid #fff;
}
.promos{
	display: flex;
	justify-content: space-between;
}
.choose-promo{
	padding: 10px;
	margin-left:20px;
}
.p-container{
	margin-top: 10px;
	margin-right: 20px;
    width: 350px;
	height: 25vh;
    border: 2px solid  #AEAAAA;
    padding:0px 10px 10px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px gray;
    z-index: 2;
	vertical-align: top;
}
h2{
    letter-spacing: 0.10em;
    font-size: 20px;
    padding-bottom: 10px;
    color: #FF5050;
}
.select-promo{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.select-promo .promo-pic{
	display: flex;
	flex-direction: column;
}
.promo-pic input{
	display: flex;
	border: 2px solid  #FF5050;
	width: 90%;
	padding: 15px;
	margin-top: 90px;
	border-radius: 5px;
}


