body{
    background-image: url(trips_bg.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    flex-direction: column;
	font-family: Arial;
}
.nav-bar{
	background:  #FF5050;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
}
.topnav li{
	list-style: none;
	display: inline-block;
}
.topnav li :hover{
	color: #FF5050;
	float: left;
	font-size: 27px;
	font-weight: 600;
	transition: .3s ease;
	background-color: white;
	padding: 8px 30px;
	border: 2px solid #fff;
	border-radius: 10px;
}
.topnav li a{
	text-decoration: none;
	float: left;
	color: white;
	font-size: 25px;
	font-weight: 600;
	margin-left: 30px;
}

.title{
	color: white;
}
.btn {
  background-color:  #FF5050 ;
  border-radius: 50%;
  border: 2px solid white;
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin: none;
}
.process {
	border-bottom: 2px solid  #FF5050;
	text-align: center;
	padding: 10px;
}
.process i1{
	display: inline-block;
	list-style: none;
	text-align: center;
	
}
.process i1 a{
	color:  #FF5050;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500px;
	margin-left: 40px;
	align-items: center;
	text-align: center;
}
.process li{
	display: inline-block;
	list-style: none;
	text-align: center;
	
}
.process li a{
	color:   #AEAAAA ;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500px;
	margin-left: 40px;
	align-items: center;
	text-align: center;
}

#footer{
	background:  #AEAAAA;
	height: 50px;
	margin-top: 75px;
	padding-top:20px;
	color: white;
	text-align: center;
}
#footer i{
	font-style: italic;
	align-items: center;
}
#footer img{
	margin-left: 15px;
	margin-bottom: 15px;
	float: left;
	width: 60px;
	padding: 0px;
}
.fill-up{
	margin: auto;
	margin-top: 10px;
    width: 500px;
    border: 2px solid  #990000 ;
    padding:0px 10px 10px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 10px gray;
    z-index: 2;
}
h2{
    letter-spacing: 0.10em;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    color: black;
    border-bottom: 2px solid  #FF5050;
}
.fill-up .fill .destination{
	display: flex;
	align-items: center;
}
.fill .destination .input-destination{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
	margin-right: 95px;
	margin-left: 15px;
	
}
.input-destination select{
	display: block;
	border: 2px solid  #FF5050;
	width: 220px;
	padding: 10px;
	border-radius: 5px;
}
.input-destination label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}
.fill-up .fill .date-time{
	display: flex;
	align-items: center;
}
.fill .date-time .input-DT{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
	margin-right: 90px;
	margin-left: 15px;
	
}
.input-DT input{
	display: block;
	border: 2px solid  #FF5050;
	width: 200px;
	padding: 10px;
	border-radius: 5px;
}
.input-DT label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}

.fill-up .fill .BT-NT{
	display: flex;
	align-items: center;
}
.fill .BT-NT .input-BTNT{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
	margin-right: 90px;
	margin-left: 15px;
	
}
.input-BTNT select{
	display: block;
	border: 2px solid  #FF5050;
	width: 220px;
	padding: 10px;
	border-radius: 5px;
}
.input-BTNT input{
	display: block;
	border: 2px solid  #FF5050;
	width: 200px;
	padding: 10px;
	border-radius: 5px;
}
.input-BTNT label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}
.Bus-num input{
    display: block;
	border: 2px solid  #FF5050;
	width: 90%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

.Bus-num label{
	color: #888;
    font-size: 18px;
    padding: 15px;
}

.fill-up .fill .price{
	display: flex;
	align-items: center;
}
.fill .price .input-price{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
	margin-right: 90px;
	margin-left: 15px;
	padding-bottom: 15px;
	
}
.input-price input{
	display: block;
	border: 2px solid  #FF5050;
	width: 100px;
	padding: 15px;
	border-radius: 5px;
}
.input-price label{
	color: #888;
    font-size: 18px;
    padding: 5px;
	margin-left: 40px;
}
.input-price #t-price{
	display: flex;
	flex-direction: row;
}
#t-price h3{
	margin-right: 10px;
}
button a{
	color: white;
	border-bottom: none;
	font-size: 20px;
}

#Next {
	display: block;
	margin: auto;
	align-items: center;
	background: #FF5050;
	padding: 10px 50px;
	color: #fff;
	border-radius: 5px;
	border: none;
}
#Pay {
	display: block;
	margin: auto;
	align-items: center;
	background: #FF5050;
	padding: 10px 50px;
	color: #fff;
	border-radius: 5px;
	border: none;
}

.fill-up .fill .info{
	display: flex;
	align-items: center;
}
.fill .info .personal-info{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
	margin: 4px 0;
	margin-right: 80px;
	margin-left: 15px;
	padding-bottom: 15px;
	
}
.personal-info input{
	display: block;
	border: 2px solid  #FF5050;
	width: 180px;
	padding: 10px;
	border-radius: 5px;
}
.personal-info label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}
.ticket-info{
	text-align: center;
	display: flex;
	flex-direction: column;
}
.ticket-info label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}
.ticket-info input{
	display: block;
	margin: auto;
	width: 350px;
	height: 30vh;	
}
.check{
	padding: 10px;
}
.check input{
	display: inline-block;
	border-color: #FF5050;
	border: 0px solid  #FF5050;
	padding: 10px;
	border-radius: 5px;
}
.check label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}
.total{
	text-align: center;
	display: flex;
	padding: 10px;
	align-items: center;
}
.total label{
	color: #888;
    font-size: 18px;
    padding: 5px;
}
.total input{
	display: block;
	border: 2px solid  #FF5050;
	width: 350px;
	padding: 10px;
	border-radius: 5px;
}